.property-view-entity > h2 {
    margin: 10px;
}

.property-entity-general {
    display: table;
    width: 100%;
}

.property-entity-general > div {
    display: table-row;
}

.property-entity-general label {
    display: table-cell;
    padding-right: 10px;
    vertical-align: top;
    width: 50px;
    margin-bottom: 5px;
}

.property-entity-general input,
.property-entity-general textarea {
    display: table-cell;
    width: 80%;
    border: gray 1px solid;
    resize: none;
    margin-bottom: 5px;
}
