name: cicd-feature

on:
  push:
    branches:
      - feature/*
  pull_request:
    branches:
      - feature/*

jobs:
  build-and-test:
    uses: ./.github/workflows/build-and-test.yml
  analyze:
    uses: ./.github/workflows/codeql-analysis.yml
